.landingContainer {
  display: flex;
  height: 100vh;
}

.contentContainer {
  padding: 1em;
  min-width: 200px;
  background-color: #dddddd;
}

.mapContainer {
  width: 100%;
  height: 100%;
}

.categoryContainer {
  display: flex;
}

.categoryList {
  text-transform: capitalize;
}

.mapMarkIcon {
  cursor: pointer;
}

/** Sidebar Header Start**/

.header-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 20px;
}