.landingContainer {
  display: flex;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.contentContainer {
  position: relative;
  padding: 1em;
  min-width: 200px;
  background-color: #204051;
  color: #F1A9A0;
}

.mapContainer {
  width: 100%;
  height: 100%;
}

.categoryContainer {
  display: flex;
}

.categoryList {
  text-transform: capitalize;
  color: #FFECDB;
}

.mapMarkIcon {
  cursor: pointer;
}

/** Sidebar Header Start**/

.header-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-image {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin-bottom: 20px;
}

/** Sidebar Header End **/

/** Sidebar List Start **/

.sidebarList {
  display: flex;
  margin: 10px;
  color: #FFECDB;
}

input {
  margin: 7px 5px 3px 3px;
}

.contentContainerDisplay {
  margin-bottom: 20px;
  text-align: center;
}

/** Sidebar List End **/

/** Footer Start **/

.footer {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 0;
}

.copyright {
  text-align: center;
}

/** Footer End **/